html{
    box-sizing: border-box;
    font-size: 100%; 
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  * {
    margin: 0;
    padding: 0;
  }

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
  }
  header {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100px;
    position: fixed;
    width: 100%;
  }
  .header {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: space-between;
  }
  .homeLink {
    color: #2c4cca;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.8em;
    text-decoration: none;
  }
  .headerNav {
    align-items:center;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .headerNav  li a{
    display: inline-block;
    
    
  }
  .headerNav  li a{
    color:rgba(25, 59, 255, 0.698);
    display: block;
    padding: 20px 20px;
    text-decoration:none;
  }
  
  .headerNav li a:hover {
    background-color: #1F3E72;
    color: white;
  }
  .headerNav li button, .schedule-intro button {
    background-color: #2c4cca;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    padding: .5em 1em;
    text-decoration: none;
    transition: all ease-in-out .3s;
  }
  .headerNav li button:hover, .schedule-intro button:hover {
    background-color: #1F3E72;
  }
  main .intro {
    background-image: url(./img/sec1.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    width: 100%;
  }
  .banner {
    padding-top: 200px;
  }
  
  .text-intro {
    width: 30%;
  }
  .text-intro h1 {
    color: #1F3E72;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 3.5em;
    font-weight: 700;
  }
  .text-intro p {
    color: #6d7b93;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
  }
  .certs-intro {
    margin-top: 50px;
  }
  .certs-intro img {
    height: 1em;
  }
  p.certs-intro {
    color: #1F3E72;
    font-size:smaller;
    font-weight: 500;
  }
  .certs-intro span:first-of-type {
    margin-right: 1em;
  }
  .schedule-intro {
    margin-top: 100px;
    height: 70px;
  }
  .schedule-intro img {
    height: 1em;
  }
  .schedule-intro h4 {
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    display: inline;
  }
  .schedule-intro .date {
    align-items: center;
    background-color: hsla(1, 0%, 100%, 0.8);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    height: 100px;
    width: 70%;
  }
  .schedule-intro table {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    margin: auto;
    text-align: left;
    vertical-align: middle;
    width: 95%;
  }
  .schedule-intro table th {
    vertical-align: top;
  }
  .schedule-intro table th:last-child {
    text-align: center;
    vertical-align: middle;
  }
  .schedule-intro table th:last-child button{
    width: 80%;
  }
  .labsLogos {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    filter: grayscale(100%) opacity(30%);
    height: 160px;
    justify-content: space-between;
  }
  .labsLogos img {
    width: 20%;
  }
  .vaccine {
    margin-top: 50px;
  }
  .vaccineReasons {
    width: 50%;
    margin-bottom: 50px;
  }
  .vaccineReasons h2, .preparations h2, .emContact h2 {
    color: #1F3E72;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin: .5em 0;
  }
  .vaccineReasons p, .vaccineBenefits p, .preparations p, .emContact p {
    color: #6d7b93;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5em;
  }
  .vaccineBenefits {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .vaccineBenefits ul {
    border: solid 3px rgba(109, 123, 147, 0.2);
    border-radius: 10px;
    height: 360px;
    list-style: none;
    padding: 2.5%;
    transition: all ease-in-out .3s;
    width: 24%;
  }
  .vaccineBenefits ul:hover {
    background-color: #dfeafc;
    border: solid 3px rgba(109, 123, 147, 0.5);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  }
  .vaccineBenefits li {
    margin-bottom: 1em;
  }
  .benefitIcon img{
    height: 3em;
  }
  .vaccineBenefits h4, .preparationsList h4, .emContact h4 {
    color: #1F3E72;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    display: inline;
  }
  .preparations {
    background-image: url(./img/sec2.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    margin-top: 200px;
    width: 100%;
  }
  .preparationsInfo {
    margin: 0 0 0 auto;
    width: 50%;
  }
  .preparationsList {
    list-style: none;
    padding: 1em;
  }
  .preparationsList li .listHeader {
    align-items: center;
    display: flex;
    padding: 2em 1em;
    cursor: pointer;
  }
  .preparationsList li h4 {
    flex-grow: 2;
  }
  .preparationsList li img {
    background-color: #dfeafc;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    height: 30px;
    margin-right: 1.2em;
    padding: 5px;
  }
  .preparationsList li button {
    background-color: #dfeafc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    border: none;
    color: #1F3E72;
    height: 20px;
    width: 20px;
  }
  .preparationsList li p {
    display: none;
    padding: 1em 3em;
    transition: all ease-in-out .3s;
  }
  .preparationsList li:hover p {
    display: block;
    padding: 1em 3em;
  }
  .preparationsList li:hover button {
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
    transform: rotate(180deg);
  }
  .emContact {
    background-image: url(./img/sec3.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    margin-top: 200px;
    width: 100%;
  }
  .emContactInfo {
    width: 50%;
  }
  .emContactLines {
    display: grid;
    gap: 3%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
  }
  .emContactLines li {
    border: solid 3px rgba(109, 123, 147, 0.2);
    border-radius: 10px;
    padding: 10%;
  }
  .emContactLines li:hover {
    background-color: #dfeafc;
    border: solid 3px rgba(109, 123, 147, 0.5);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  }
  .emContactLines li button {
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    color: #2c4cca;
    cursor: pointer;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    padding: .5em 1em;
    text-decoration: none;
    transition: all ease-in-out .3s;
    width: 100%;
  }
  .emContactLines li button:hover {
    background-color: #2c4cca;
    color: white;
  }
  .emContactLines table{
    width: 100%;
  }
  .emContactLines table img {
    height: 40px;
  }
  footer {
    background-color: #EEF3FF;
  }
  .footerData, .footerLinks, .footerRights, .footerPolitics {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .footerData {
    padding: 50px 0;
    width: 100%;
  }
  .footerGoal {
    width: 20%;
  }
  .footerLinks {
    width: 40%;
  }
  .footerData p, .footerData a, .footerRights p, .footerRights a {
    color: #6d7b93;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
  }
  .footerData a:hover, .footerRights a:hover {
    color: #2c4cca;
  }
  .footerGoal h3 {
    color: #2c4cca;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    margin: .3em 0;
  }
  .footerLinks {
    line-height: 2.6em;
  }
  .footerLinks h4 {
    color: #1F3E72;
    font-family: 'Hind Vadodara', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
  }
  .footerLinks ul {
    list-style: none;
  }
  .footerRights {
    padding: 1em 0;
  }
  .footerPolitics {
    width: 30%;
  }